[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
	shallow = true
[submodule "vendor/libmem"]
	path = vendor/libmem
	url = git@github.com:holepunchto/libmem.git
	shallow = true
[submodule "vendor/libutf"]
	path = vendor/libutf
	url = git@github.com:holepunchto/libutf.git
	shallow = true
