[submodule "cmake/gn"]
	path = cmake/gn
	url = ../../holepunchto/cmake-gn.git
	shallow = true
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = ../../libuv/libuv.git
	shallow = true
[submodule "vendor/libutf"]
	path = vendor/libutf
	url = ../../holepunchto/libutf.git
	shallow = true
